.PokemonList {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: auto;
}


@media screen and (min-width: 720px) {
    .PokemonList {
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (min-width: 1240px) {
    .PokemonList {
        grid-template-columns: repeat(3, 300px);
    }
}

@media screen and (min-width: 1680px) {
    .PokemonList {
        grid-template-columns: repeat(4, 300px);
    }
}

/* CARD */
.container {
    display: grid;
    place-items: center;
    position: relative;
    height: 450px;
    width: 350px;
    background: #252525;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
    transition: all .2s ease-in-out;
}

.container:hover{
    transform: scale(1.1);
}

.container:hover::before {
    content:'';
    width: 150px;
    height: 600px;
    left: 100px;
    top: -100px;
    position: absolute;
    background: linear-gradient(#00e5ff, #b400fb);
    animation: animate 5s linear infinite;
    z-index: -1;

}

@keyframes animate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 5px;
    z-index: 10;
    background: #252525;
    z-index: -1;
}

.pokeName {
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 9px 4px rgba(16,16,16,0.4),
    1px 11px 10px rgba(16,16,16,0.2),
    1px 13px 15px rgba(16,16,16,0.2);
}


